<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/gh/Web-Highlights/webhighlights-link-preview/dist/main.js" type="module"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body,
      html {
        padding: 10px 0;
        margin: 0;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      @media (min-width: 1200px) {
        body {
          padding: 0 300px;
        }
      }
      
      webhighlights-link-preview {
        display: flex;
        width: 500px;
        margin-top: 10px;
      }


      @media (min-width: 600px) {
        webhighlights-link-preview {
          margin: 10px 100px;
          border-radius: 10px;
        }
      }

      webhighlights-link-preview:hover {
        background: rgb(245, 248, 250);
        border-color: #8899a680;
      }
    </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" dir="ltr">
      <tr>
        <td valign="top" align="center" style="background-color:transparent;">
          <table style="background-color:transparent;width:600px;" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding-top:2.5px;padding-bottom:2.5px;padding-left:5px;padding-right:5px;">
                <table cellpadding="0" cellspacing="0" border="0" align="center">
                  <tr>
                    <td style="width:590px;vertical-align:top;background-color:transparent;">
                      <table style="width:590px;" width="100%" border="0" cellpadding="5" cellspacing="0">
                        <tbody>
                          <tr>
                            <td id="textOnlyTD" valign="top" align="left">
                              <table class="pc-email-body" width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" role="presentation" style="table-layout: fixed;">
                                <tbody>
                                  <tr>
                                    <td class="pc-email-body-inner" align="center" valign="top">
                                      <table class="pc-email-container" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: 0 auto; max-width: 620px;">
                                        <tbody>
                                          <tr>
                                            <td align="left" valign="top" style="padding: 0 10px;">
                                              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                                <tbody>
                                                  <tr>
                                                    <td height="8" style="font-size: 1px; line-height: 1px;"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                <tbody>
                                                  <tr>
                                                    <td class="pc-sm-p-5 pc-xs-p-2" bgcolor="#ffffff" valign="top" style="padding: 5px 5px; background-color: #0D0D0D; border-radius: 0px">
                                                      <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                        <tbody>
                                                          <tr>
                                                            <td align="center" valign="top" style="padding: 3px;">
                                                              <a href="https://gagroup.net/" style="text-decoration: none;">
                                                                <img src="https://gagroup.net/wp-content/uploads/2022/10/GAG-EnhancedLogo.svg" width="300" height="49" alt="" style="height: auto; max-width: 100%; border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; color: #1B1B1B; font-size: 14px;">
                                                              </a>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                                <tbody>
                                                  <tr>
                                                    <td height="8" style="font-size: 1px; line-height: 1px;"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                <tbody>
                                                  <a href="#" style="text-decoration: none;">
                                                    <img src="images/93.png" width="560" height="" alt="" style="border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; display: block; margin: 0 auto; max-width: 100%; height: auto; color: #1B1B1B;">
                                                  </a>
                                                </tbody>
                                              </table>
                                              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                                <tbody>
                                                  <tr>
                                                    <td height="8" style="font-size: 1px; line-height: 1px;"></td>
                                                  </tr>
                                                </tbody>
                                              </table> 
                                              {% for item in items %} 
                                              <webhighlights-link-preview url="{{ '%s'%item.direct_link }}"></webhighlights-link-preview>
                                              {% endfor %} 
                                              <script>
                                                document.querySelectorAll('webhighlights-link-preview').forEach(element => element.addEventListener('click', () => location.href = element.getAttribute('url')))
                                              </script>
                                              <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                                <tbody>
                                                  <tr>
                                                    <td class="" style="padding: 0px; background-color: #D9A918; border-radius: 0px" valign="top" bgcolor="#007e8f" pc-default-class="pc-sm-p-21-10-14 pc-xs-p-5-0" pc-default-padding="21px 20px 14px">
                                                      <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                                        <tbody>
                                                          <tr>
                                                            <td style="font-size: 0;" valign="top">
                                                              <div class="pc-sm-mw-100pc" style="display: inline-block; width: 100%; max-width: 280px; vertical-align: top;">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                                                  <tbody>
                                                                    <tr>
                                                                      <td style="padding: 20px;" valign="top">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                                                          <tbody>
                                                                            <tr>
                                                                              <td class="pc-fb-font" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px; font-weight: 500; line-height: 24px; letter-spacing: -0.2px; color: #ffffff" valign="top">Connect</td>
                                                                            </tr>
                                                                            <tr>
                                                                              <td height="11" style="line-height: 1px; font-size: 1px;"></td>
                                                                            </tr>
                                                                          </tbody>
                                                                          <tbody>
                                                                            <tr>
                                                                              <td class="pc-fb-font" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 14px; line-height: 20px; letter-spacing: -0.2px; color: #ffffff" valign="top">Get the latest offers and updates on your favourite social media apps.</td>
                                                                            </tr>
                                                                            <tr>
                                                                              <td class="pc-sm-h-20" height="56" style="line-height: 1px; font-size: 1px;"></td>
                                                                            </tr>
                                                                          </tbody>
                                                                          <tbody>
                                                                            <tr>
                                                                              <td style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 19px;" valign="top">
                                                                                <a href="https://www.facebook.com/GAGroupGlobal" style="text-decoration: none;">
                                                                                  <img src="https://s1.designmodo.com/postcards/icons8-facebook-1-c9C.png" width="25" height="25" alt="CBD Facebook" style="border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; font-size: 14px; color: #151515;">
                                                                                </a>
                                                                                <span></span>
                                                                                <a href="https://twitter.com/gagroupglobal" style="text-decoration: none;">
                                                                                  <img src="https://s1.designmodo.com/postcards/icons8-twitter_squared-1-zZQ.png" width="25" height="25" alt="CBD Twitter" style="border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; font-size: 14px; color: #151515;">
                                                                                </a>
                                                                                <span></span>
                                                                                <a href="https://www.instagram.com/gagroupglobal/" style="text-decoration: none;">
                                                                                  <img src="https://s1.designmodo.com/postcards/icons8-instagram-1-NOT.png" width="25" height="25" alt="CBD Instagram" style="border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; font-size: 14px; color: #151515;">
                                                                                </a>
                                                                                <span></span>
                                                                                <a href="https://www.linkedin.com/company/ghassan-aboud-group/" style="text-decoration: none;">
                                                                                  <img src="https://s1.designmodo.com/postcards/icons8-linkedin-1-yXm.png" width="25" height="25" alt="CBD Linkedin" style="border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; font-size: 14px; color: #151515;">
                                                                                </a>
                                                                                <span></span>
                                                                                <a href="https://www.youtube.com/channel/UC2OlVUHZSdbxdvR5C20mt4A" style="text-decoration: none;">
                                                                                  <img src="https://s1.designmodo.com/postcards/icons8-youtube_logo-1-aKO.png" width="25" height="25" alt="CBD Youtube" style="border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; font-size: 14px; color: #151515;">
                                                                                </a>
                                                                              </td>
                                                                            </tr>
                                                                          </tbody>
                                                                        </table>
                                                                      </td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </div>
                                                              <div class="pc-sm-mw-100pc" style="display: inline-block; width: 100%; max-width: 280px; vertical-align: top;">
                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                                                  <tbody>
                                                                    <tr>
                                                                      <td style="padding: 20px;" valign="top">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                                                          <tbody>
                                                                            <tr>
                                                                              <td class="pc-fb-font" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px; font-weight: 500; line-height: 24px; letter-spacing: -0.2px; color: #ffffff" valign="top">Get in touch</td>
                                                                            </tr>
                                                                            <tr>
                                                                              <td height="11" style="line-height: 1px; font-size: 1px;"></td>
                                                                            </tr>
                                                                          </tbody>
                                                                          <tbody>
                                                                            <tr>
                                                                              <td class="pc-fb-font" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 14px; line-height: 20px; letter-spacing: -0.2px; color: #ffffff" valign="top">We are always available for you at your convenience.</td>
                                                                            </tr>
                                                                            <tr>
                                                                              <td class="pc-sm-h-20" height="45" style="height: 45px; line-height: 1px; font-size: 1px;"></td>
                                                                            </tr>
                                                                          </tbody>
                                                                          <tbody>
                                                                            <tr>
                                                                              <td class="pc-fb-font" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif; font-size: 18px; font-weight: 500; line-height: 24px; letter-spacing: -0.2px" valign="top">
                                                                                <a href="tel:600-575-556" style="text-decoration: none; color: #ffffff" autotrack="false">+971 50 4452642</a>
                                                                              </td>
                                                                            </tr>
                                                                            <tr>
                                                                              <td height="9" style="line-height: 1px; font-size: 1px;"></td>
                                                                            </tr>
                                                                          </tbody>
                                                                          <tbody>
                                                                            <tr>
                                                                              <td class="pc-fb-font" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 14px; font-weight: 500; line-height: 24px" valign="top">
                                                                                <a href="mailto: prajwal.g@gagroup.net" style="text-decoration: none; color: #ffffff">Contact us</a>
                                                                              </td>
                                                                            </tr>
                                                                          </tbody>
                                                                        </table>
                                                                      </td>
                                                                    </tr>
                                                                  </tbody>
                                                                </table>
                                                              </div>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                                <tbody>
                                                  <tr>
                                                    <td height="8" style="font-size: 1px; line-height: 1px;"></td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                              <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                                                <tbody>
                                                  <tr>
                                                    <td bgcolor="#f4f4f4" align="center" valign="top" style="background-color: #0D0D0D; background-position: top center; background-size: cover; border-radius: 0px">
                                                      <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                                                        <tbody>
                                                          <tr>
                                                            <td class="" style="padding: 3px" valign="top">
                                                              <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                                                                <tbody>
                                                                  <tr>
                                                                    <td valign="top" align="center">
                                                                      <a href="https://gagroup.net/" style="text-decoration: none;">
                                                                        <img src="images/GhassanAboudGroupShort.jpeg" width="50" height="" alt="" style="border: 0; line-height: 100%; outline: 0; -ms-interpolation-mode: bicubic; display: block; max-width: 100%; height: auto; margin: 0 auto; color: #ffffff;">
                                                                      </a>
                                                                    </td>
                                                                  </tr>
                                                                  <tr>
                                                                    <td height="7" style="line-height: 1px; font-size: 1px"></td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="pc-gmail-fix" style="white-space: nowrap; font: 15px courier; line-height: 0;"></div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>